.game-container {
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.reset {
    font-size: 24px;
    width: 50%;
    margin-top: 5px; 
    padding: 0.5em;
    background-color: #824dd1;
    border: 2px solid #824dd1;
    color: white;
    opacity: 0.8;
    border-radius: 1em;
    text-align: center;
    cursor: pointer;
}

.reset:hover {
    opacity: 1;
}

.game-message {
    color: #824dd1;
    font-size: 5em;
    display: inline-block;
    position: absolute;
    bottom: 30%;
    white-space: nowrap; 
}
