h1 {
    font-size: 5em;
    font-family: 'VT323', monospace;
    color: #FFFFFF;
    text-align: center;
}

.menu {
    display: inline-block;
    margin: 1em 2em;
    width: 25%;
    position: absolute;
}

.menu.right {
    right: 0;
}