.nav {
    display: flex;
     align-items: center; 
}

h1 {
    font-size: 5em;
    font-family: 'VT323', monospace;
    color: #FFFFFF;
    /* margin-top: 0.2em; */
    /* padding-bottom: 0.2em; */
    width: 60%;
    display: flex;
    justify-content: center;
}

.menu {
    margin: 1em 2em;
     width: 20%
}