.nav {
    display: flex;
     align-items: center; 
}

h1 {
    font-size: 5em;
    font-family: 'VT323', monospace;
    color: #FFFFFF;
    width: 50%;
    display: flex;
    justify-content: center;
}

.menu {
    margin: 1em 2em;
     width: 25%
}