<div class='select-container'>
    <div class="select" (click)="toggleOptionsMenu()">
        <span>{{current}}</span>
        <i class="material-icons">keyboard_arrow_down</i>
    </div>
        <table *ngIf="showOptions" class="options">
            <tr class="header">
                <th>level</th>
                <th>h</th>
                <th>w</th>
                <th>mines</th>
            </tr>
            <tr *ngFor="let level of levelKeys">
                <td>{{level}}</td>
                <td>{{levels[level].height}}</td>
                <td>{{levels[level].width}}</td>
                <td>{{levels[level].mines}}</td>
            </tr>
        </table>
</div>
