.select-container {
    color: #FFFFFF;
    font-size: 36px;
    padding: 0.02em 0.2em;
    border: 2px solid #FFFFFF;
    border-radius: 0.5em;
}

.material-icons {
    font-size: 3em;
    font-size: 1.2em;
    margin-left: 0.3em;
}

.select {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.options {
    font-size: 16px;
}

table {
    border-spacing: 0;
}

td, th {
    text-align: left;
    padding: 8px;
}

th {
    border-bottom: 1px solid #DDD6F3;
}

tr:hover:not(.header) {
    color: #DDD6F3;
    cursor: pointer;
}

input[type="text"] {
    font-size: inherit;
    font: inherit;
    border: none;
    color: #FFFFFF;
    background: #DDD6F3;
    width: 2em;
}