<div class='select-container'>
    <div class="select" (click)="toggleOptionsMenu()">
        <span>{{current}}</span>
        <i class="material-icons">keyboard_arrow_down</i>
    </div>
    <div *ngIf="showOptions" [@openState]="showOptions ? 'true': 'false'"
          class="dropdown">
        <table class="options">
            <tr class="header">
                <th>level</th>
                <th>h</th>
                <th>w</th>
                <th>mines</th>
            </tr>
            <tr *ngFor="let level of levelIterable" (click)="current = level.title">
                <td>{{level.title}}</td>
                <td>
                    <span *ngIf="level.title !== 'custom'">{{level.height}}</span>
                    <span *ngIf="level.title === 'custom'">
                        <input type="text"
                               [(ngModel)]="levels.custom.height"
                               value="{{level.height}}"/>
                    </span>
                </td>
                <td>
                    <span *ngIf="level.title !== 'custom'">{{level.width}}</span>
                    <span *ngIf="level.title === 'custom'">
                        <input type="text"
                               [(ngModel)]="levels.custom.width"
                               value="{{level.width}}"/>
                    </span>
                </td>
                <td>
                    <span *ngIf="level.title !== 'custom'">{{level.mines}}</span>
                    <span *ngIf="level.title === 'custom'">
                        <input type="text"
                               [(ngModel)]="levels.custom.mines"
                               value="{{level.mines}}"/>
                    </span>
                </td>
                <td>
                    <span>
                        <i *ngIf="current !== level.title" class="material-icons">radio_button_unchecked</i>
                        <i *ngIf="current === level.title" class="material-icons">radio_button_checked</i>
                    </span>
                </td>
            </tr>
        </table>
        <input type="submit" value="apply" (click)="handleLevelSelect()"/>
    </div>  
</div>
