<div class="row">
    <span *ngFor="let cell of cells"
          class="cell"
          [ngClass]="{'show': cell.isVisible()}"
          (contextmenu)="handleCellClick($event, cell)"
          (click)="handleCellClick($event, cell)">
            <span *ngIf="cell.isVisible()" cellColor [value]="cell.value">  
              <i *ngIf="cell.value === -1"
                 class="material-icons">wb_sunny</i>
              <span *ngIf="cell.value > 0">{{cell.value}}</span>
            </span>
            <span *ngIf="cell.isFlagged()">
                <i class="material-icons flag">flag</i>
            </span>  
    </span>
</div>
