.row {
    display: flex;
}

span.cell {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: .25em;
    margin: 0.1em;
    color: #FFFFFF;
    background: #FFFFFF;
    cursor: pointer;
    transition: background 1s ease 20ms;
}

span.cell > span {
    display: flex;
}

span.cell.show {
    background: transparent;
    cursor: default;
}

span.cell.doom {
    background: #7cffe5;
}

.material-icons.mine,
.material-icons.flag {
    color: 	#FF6347;
}

.icon-stack {
    display: flex;
    position: relative;
}

.material-icons.clear {
    top: 0;
    left: 0;
    position: absolute;
    color: #000;
    font-size: 1.5em;
}
