.row {
    display: flex;
}

span.cell {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: .25em;
    margin: 0.1em;
    color: #FFFFFF;
    background: #FFFFFF;
    cursor: pointer;
}

span.cell > span {
    display: flex;
}

span.cell.show {
    background: transparent;
    cursor: default
}

.material-icons.mine {
    color: 	#FF6347;
}
